{{ define "base" }}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {{ template "title" . }}
    </head>
    <body>
        {{ template "scripts" . }}
        {{ template "navbar" . }}
        {{ template "content" . }}
        <footer></footer>
    </body>
</html>
{{ end }}
// we define empty blocks for optional content so we don't have to define a block in a child template if we don't need to
{{ define "scripts" }}{{ end }}
{{ define "sidebar" }}{{ end }}
