{{ define "title" }}<title>Index Page</title>{{ end }}
// note the lack of script block we don't need it
{{ define "navbar" }}
    {{ template "navbar_index" }}
{{ end }}
{{ define "content" }}
    <h1>content</h1>
{{ end }}
