{{ define "title" }}Index Page{{ end }}
// note the lack of script block we don't need it
{{ define "navbar" }}
    {{ template "navbar_index" }}
{{ end }}
{{ define "content" }}
    <h1>User Info</h1>
    <p>
        {{ .name }}
    </p>
    <p>
        {{ .age }}
    </p>
    <p>
        {{ .email }}
    </p>
    <p>
        {{ .data }}
    </p>
    <p>
        {{ .da.name }}
    </p>
{{ end }}

{{define "scripts" }}
<script src="/static/js/test.js"></script>
{{ end }}
